.content {
    margin: 0 auto;
    max-width: 60em;
}

h1 {
    text-align: center
}

.post-header {
    border-bottom: 1px solid #000;
    font-size: 0px;
}

.post-header > * {
    float: none;
    display: inline-block;
    font-size: 14px;
}

.post-header > *:last-child {
    vertical-align: bottom;
}

.post-title {
    margin: 0;
}

.post {
    padding: 1em;
    margin-bottom: 1em;
    background-color: #eee;
    border-radius: 10px;
}

.post-comment {
    border-radius: 10px;
    background-color: #ddd;
    margin-bottom: 0.5em;
}

.comment-list {
    padding: 1em;
}
