{% extends "base.html" %}

{% block content %}

{% for post in posts: %}
<article class="post">
    {{ post.render() | safe }}
    {% if user: %}
    <div class="post-footer">
        <form method="post" class="row">
            <input type="hidden" name="post_id" value="{{post.key.id()}}">
            <div class="col-xs-6">
                {% include "post_buttons_like_dislike.html" %}
            </div>
            <div class="col-xs-6 text-right"></div>
        </form>
    </div>
    {% endif %}
</article>
{% endfor %}

{% endblock %}
