{% extends "base.html" %}

{% block content %}
<article class="post">
    {{ post.render(True) | safe }}
    {% if user: %}
    <div class="post-footer">
        <form method="post" class="row">
            <input type="hidden" name="post_id" value="{{post.key.id()}}">
            <div class="col-xs-6">
                {% include "post_buttons_like_dislike.html" %}
            </div>
            <div class="col-xs-6 text-right">
                <button type="submit" name="post-edit" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span>
                    Edit post
                </button>
                <button type="submit" name="post-delete" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                    Delete post
                </button>
            </div>
        </form>
    </div>
    {% endif %}
</article>

<div class="comment-list">
    <h3 class="comments-title">Comments</h3>
    {% for comment in post.get_comments(): %}
    <div class="row">
        <div class="comment">
            <div class="col-xs-12 comment-author">{{ comment.user.get().name }} said:</div>
            <div class="col-xs-12 comment-content">
                <pre>{{ comment.content }}</pre>
                <div class="comment-control-buttons">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-edit"></span>
                        Edit
                    </button>
                    <button class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
