{% extends "base.html" %}

{% block content %}
<form method="post">
    <h2>Signup</h2>

    <div>
        <label for="username">Username</label>
        <input type="text" name="username" value="{{username}}" id="username" class="form-control" required>
        {% if username_error: %}
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{username_error}}
        </div>
        {% endif %}
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" required>
        {% if password_error: %}
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{password_error}}
        </div>
        {% endif %}
    </div>

    <div>
        <label for="verify">Verify Password</label>
        <input type="password" name="verify" id="verify" class="form-control" required>
        {% if verify_error: %}
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{verify_error}}
        </div>
        {% endif %}
    </div>

    <div>
        <label for="email">Email (optional)</label>
        <input type="text" name="email" value="{{email}}" id="email" class="form-control">
        {% if email_error: %}
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{email_error}}
        </div>
        {% endif %}
    </div>

    <div>
        <input type="submit" class="btn btn-primary">
    </div>
</form>

{% endblock %}
