{% extends "base.html" %}

{% block content %}
<form method="post">
    <h2>Signup</h2>

    <div>
        <label for="username">Username</label>
        <input type="text" name="username" value="{{username}}" id="username" class="form-control">
        {% if username_error: %}
        <div class="alert alert-danger">{{username_error}}</div>
        {% endif %}
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control">
        {% if password_error: %}
        <div class="alert alert-danger">{{password_error}}</div>
        {% endif %}
    </div>

    <div>
        <label for="verify">Verify Password</label>
        <input type="password" name="verify" id="verify" class="form-control">
        {% if verify_error: %}
        <div class="alert alert-danger">{{verify_error}}</div>
        {% endif %}
    </div>

    <div>
        <label for="email">Email (optional)</label>
        <input type="text" name="email" value="{{email}}" id="email" class="form-control">
        {% if email_error: %}
        <div class="alert alert-danger">{{email_error}}</div>
        {% endif %}
    </div>

    <div>
        <input type="submit" class="btn btn-primary">
    </div>
</form>

{% endblock %}
